name: CMake

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Dependency: ABSL

      - name: absl - Configure cache - src
        if: ${{ !env.ACT }}
        id: cache-absl-src
        uses: actions/cache@v2
        with:
          path: output/absl
          key: ${{ runner.os }}-absl-src

      - name: absl - Configure cache - bin
        if: ${{ !env.ACT }}
        id: cache-absl-bin
        uses: actions/cache@v2
        with:
          path: output/absl-bin
          key: ${{ runner.os }}-absl-bin

      - name: absl - Clone
        if: steps.cache-absl-src.outputs.cache-hit != 'true'
        uses: sudosubin/git-clone-action@v1.0.1
        with:
          repository: abseil/abseil-cpp
          path: output/absl

      - name: absl - Configure CMake
        if: steps.cache-absl-bin.outputs.cache-hit != 'true'
        run: cmake -B ${{github.workspace}}/output/absl/build -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/output/absl-bin -DCMAKE_CXX_STANDARD=17 -DCMAKE_POSITION_INDEPENDENT_CODE=ON output/absl

      - name: absl - Build
        if: steps.cache-absl-bin.outputs.cache-hit != 'true'
        run: cmake --build ${{github.workspace}}/output/absl/build

      - name: absl - Install
        if: steps.cache-absl-bin.outputs.cache-hit != 'true'
        run: cmake --install ${{github.workspace}}/output/absl/build

      # Main build

      - name: redis-s2geo - Configure CMake
        run: cmake -B ${{github.workspace}}/output/redis-s2geo/build -DCMAKE_CXX_STANDARD=17 -DABSL_PATH="${{github.workspace}}/output/absl-bin" -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} .

      - name: redis-s2geo - Build
        run: cmake --build ${{github.workspace}}/output/redis-s2geo/build

      - name: redis-s2geo - Test
        run: ${{github.workspace}}/output/redis-s2geo/build/redis-s2geo-test

      - name: redis-s2geo - Archive
        run: ${{github.workspace}}/archive.sh ${{github.workspace}}/output/redis-s2geo/ redis-s2geo-${{ runner.os }}

      - name: redis-s2geo - Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: redis-s2geo-${{ runner.os }}
          path: |
            ${{github.workspace}}/output/redis-s2geo/build/redis-s2geo-${{ runner.os }}.tar.gz
